<div class="jumbotron">
    <h1>Secured customer</h1>
    <p class="lead">Similar to the Week 2 "AssociationsIntro" code example; works with customers, but with security.</p>
    <p><a href="https://petermcintyre.com/dps907/notes/week09/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Works WITH (and depends on) the IA Server app.</p>
        <p>Ensure that the machine keys match.</p>
        <p>Then, make sure the IA Server app is loaded BEFORE you begin testing.</p>
        <p>Get an access token from the IA Server, and then use it in this app.</p>
    </div>
    <div class="col-md-6">
        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Authentication, access token validation</li>
            <li>Customers controller is protected</li>
            <li>The "get one" method of the Values controller is also protected</li>
        </ul>
    </div>

</div>
