@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SOAP Client</h1>
    <p class="lead">ASP.NET MVC web app, which is a client app, to a separate SOAP XML web service.</p>
    <p><a href="https://petermcintyre.com/dps907/notes/week11/" class="btn btn-primary btn-lg" target="_blank">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Load the SOAP XML web service (server) <em>before</em> using this app.</p>
        <p>Then, click an item on the menu above.</p>
    </div>
</div>