<div class="jumbotron">
    <h1>Object Owner</h1>
    <p class="lead">Shows how to work with an entity collection that offers privacy to an object's owner.</p>
    <p><a href="https://petermcintyre.com/dps907/notes/week10/" class="btn btn-primary btn-lg" target="_blank">More info &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Entity class as an "Owner" property.</p>
        <p>At runtime, a manager method can use the security principal, and do identity-related tasks.</p>
        <p>Study the various manager methods to see how it works.</p>
    </div>
</div>
