<div class="jumbotron">
    <h1>Identity &amp; Authentication</h1>
    <p class="lead">Provides identity management and authentication for web apps and services.</p>
    <p><a href="https://petermcintyre.com/dps907/notes/week09/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About this app</h2>
        <p>This provides identity management and authentication services for other web apps and web services.</p>
        <p>It was created for the Web Services course (DPS907 and WSA500). It will work, however, in other environments.</p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>It <em>must</em> be used with another app - do NOT add domain logic to this app.</p>
        <p>Use the machine key generator (controller) to create a value that can be shared among apps that share a common security context.</p>
    </div>
</div>
