<div class="jumbotron">
    <h1>All HTTP Methods</h1>
    <p class="lead">Shows how to handle the relevant HTTP methods for a single entity.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Chinook sample database</li>
            <li>Employees entity</li>
            <li>GET - get all, get one</li>
            <li>POST - add new</li>
            <li>PUT - edit existing</li>
            <li>DELETE - delete item</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>How to use</h2>
        <p>Use Fiddler, and the URI segment:</p>
        <p><code> /api/employees </code></p>
    </div>
</div>
