<div class="jumbotron">
    <h1>Media upload</h1>
    <p class="lead">Configure a web service to accept non-text internet media items.</p>
    <p><a href="https://petermcintyre.com/dps907/notes/sep26/" class="btn btn-primary btn-lg" target="_blank">More info &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>There are many areas of the app that need study:</p>
        <ul>
            <li>Design model class, with a media item</li>
            <li>Media type formatter, in the ServiceLayer folder</li>
            <li>Resource model classes, and the media item properties</li>
            <li>This example DOES NOT use content negotiation</li>
        </ul>
    </div>
</div>
