<div class="jumbotron">
    <h1>Documentation intro</h1>
    <p class="lead">Deliver documentation about your web service.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features, v1</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Web API Help Page feature</li>
            <li>XML Documentation comments in the Customers controller</li>
            <li>Also includes a "root" controller that delivers link relations</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>How to use</h2>
        <p>In Fiddler, request this URL:</p>
        <p><code>/api</code></p>
        <p>In a browser, click the "API" link in the menu bar.</p>
    </div>
</div>
