<div class="jumbotron">
    <h1>Manage User Accounts</h1>
    <p class="lead">A web service that enables a user account manager to manage user accounts for the app.</p>
    <p><a href="https://petermcintyre.com/dps907/notes/nov30/" class="btn btn-primary btn-lg" target="_blank">More info &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Includes resource model class, to capture the essence of the built-in ASP.NET Identity user account model classes.</p>
        <p>Includes a user account manager (UAM) controller that enables some getting-started "fetch" tasks to be done.</p>
        <p>Add more code for full functionality.</p>
    </div>
</div>
