<div class="jumbotron">
    <h1>Media upload and deliver</h1>
    <p class="lead">Configure a web service to accept <em>and deliver</em> non-text internet media items.</p>
    <p><a href="https://petermcintyre.com/dps907/notes/sep28/" class="btn btn-primary btn-lg" target="_blank">More info &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>This is based on the previous "Media Upload" code example.</p>
        <p>It supports <em>content negotiation</em>.</p>
        <p>Look at the new "get one" method in the books controller.</p>
    </div>
</div>
