<div class="jumbotron">
    <h1>ProjectWithSecurity</h1>
    <p class="lead">Web service project, with security components.</p>
    <p><a href="https://petermcintyre.com/dps907/notes/oct17/" class="btn btn-primary btn-lg" target="_blank">More info &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Open this project in Visual Studio, and show the Task List.</p>
        <p>Go through the comments in sequence.</p>
    </div>
    <div class="col-md-4">
        <h2>Interact with this app</h2>
        <p>Use Fiddler to interact with this app.</p>
        <p>Open the EntityBodyData.txt source code file for entity body examples.</p>
        <p>To create a user account, send a request to the /api/account/register URI.</p>
        <p>To request an access token, send a request to the /token URI.</p>
    </div>
</div>
