<div class="jumbotron">
    <h1>Manage Claims</h1>
    <p class="lead">A web service that enables a user account manager to manage claims for the app.</p>
    <p><a href="https://petermcintyre.com/dps907/notes/nov28/" class="btn btn-primary btn-lg" target="_blank">More info &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Includes an AppClaim class, to define the allowed claims for the app.</p>
        <p>Includes a controller that enables some getting-started tasks to be done (fetch, add).</p>
        <p>Add more code for full functionality.</p>
    </div>
</div>
