<div class="jumbotron">
    <h1>Hypermedia representation intro</h1>
    <p class="lead">Gentle introduction to hypermedia representations</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features, v1</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Programmer-generated hypermedia representations</li>
            <li>Customer get-all and get-one</li>
        </ul>
        <p>Also includes the code to handle HTTP OPTIONS requests.</p>
    </div>
    <div class="col-md-4">
        <h2>How to use</h2>
        <p>Fiddler, execute get-all and get-one for Customers, for example...</p>
        <p><code>/api/customers</code></p>
        <p><code>/api/customers/28</code></p>
        <p>Also, execute the HTTP OPTIONS for those URLs.</p>
    </div>
</div>
