<div class="jumbotron">
    <h1>Web app and web service controllers</h1>
    <p class="lead">How to support both kinds of controllers with nice resource URIs.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Chinook sample database</li>
            <li>One-to-many, Employees (one) to Customers (many)</li>
            <li>Get one, with associated object or collection</li>
            <li>Add new Customer, which <em>requires</em> an Employee identifier (in the SupportRepId property)</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Notice...</h2>
        <p>Notice the "Employees" link in the top-row menu.</p>
    </div>
</div>
