<div class="jumbotron">
    <h1>Simple web service</h1>
    <p class="lead">Simple web service that helps you get started in this course.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Use the Fiddler app to compose requests for this web service.</p>
        <p>Add "/api/teachers" to view a list of teachers in the School of ICT.</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/dps907/notes/" target="_blank">Class notes &raquo;</a></p>
    </div>
</div>
