<div class="jumbotron">
    <h1>Associations introduction</h1>
    <p class="lead">How to handle typical use cases with one-to-many associations.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Chinook sample database</li>
            <li>One-to-many, Employees (one) to Customers (many)</li>
            <li>Get one, with associated object or collection</li>
            <li>Add new Customer, which <em>requires</em> an Employee identifier (in the SupportRepId property)</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>How to use</h2>
        <p>Study the code in the employee and customer controllers.</p>
        <p>Use Fiddler, and the URI segments:</p>
        <p><code> /api/customers </code></p>
        <p><code> /api/employees </code></p>
        <p>Then, use the full range of URI patterns to work with the associated data.</p>
    </div>
</div>
