<div class="jumbotron">
    <h1>Better error handling</h1>
    <p class="lead">Minor improvement to improve the delivery of error info.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features, v1</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>CreateError controller, which generates errors</li>
            <li>Simplified error messages, packaged inside an object</li>
            <li>For the programmer on localhost, it displays the stack trace</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>How to use</h2>
        <p>In Fiddler, request this URL:</p>
        <p><code>/api/createerror</code></p>
    </div>
</div>
